# Core scientific packages
numpy==1.26.4
scipy==1.13.0
pandas==2.2.2

# Plotting libraries
matplotlib==3.8.4
mplfinance==0.12.10b0

# Datetime and timezone
pytz==2024.1

# Database
psycopg2-binary==2.9.9

# Alpaca Trading API
alpaca-trade-api==3.2.0

# Interactive Brokers
ib-insync==0.9.86

# Transaq-Finam
eulxml==1.1.3

# OpenAI API
openai==1.23.2

# Predictor peaks&Valleys
pyampd==0.0.1
joblib==0.16.0

# Spyder IDE (for development inside container)
spyder==5.5.1
spyder-kernels==2.5.1
